* {
  box-sizing: border-box;
}
#character-container {
  width: 800px;
  margin: 0 auto;
}

#char {
  display: flex;
  justify-content: space-between;
  background: rgb(118, 157, 196);
  text-align: left;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  border-radius: 20px;
}
#character-info {
  width: 30%;
}
#planet {
  text-align: left;
  width: 30%;
}
#species {
  width: 30%;
}
